*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    background-color: #C8C8C8;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: safe;
    background-color: rgb(79, 24, 126);
    z-index: 2;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

a{
    color: #ffffff;
}

p{
    color: #ffffff;
    font-size: 12pt;
    font-family: "Arial";
    margin: 11px;
}

li{
    padding: 0.5%;
    margin: 11px;
    font-family: "Arial";
    font-size: 12pt;
}

.image{
    position: absolute;
    top: 10%;
    right: 50%;
}

.essential{
    background-color: rgb(189, 138, 44);
    position: absolute;
    left: 55%;
    top: 10%;
    display: block;
    color: white;
    padding: 20px;
    z-index: 0;
}

.further{
    background-color: rgb(94, 18, 18);
    padding: 0.33%;
    color:#ffffff;
    padding: 20px;
    z-index: -1;
}

#line{
    height: 1px;
    background: black;
}

footer{
    color: #ffffff;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    padding: 1%;
    text-align: center;
}
